rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /chats/{chatId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null 
                    && request.resource.data.sender == 'user' 
                    && request.resource.data.deviceId == request.auth.uid;
      allow update, delete: if false;
    }
  }
}
